*{margin: 0;padding: 0;}
a{color: #333;text-decoration: none;}
img{display: block;}
ul li {list-style: none;}
body {color:#333;font-size: 14px;font-family:  "微软雅黑"; background: #f5f5f5;}
body,html{height: 100%}
a:hover{
	color: #f07;
}
.layout{
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
}

/*top_nav*/
.top_nav{
	background: white;
}
.top_nav .layout{
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 18px;
}
.indexLeftLink{
	width: 257px;
	color: #FFF;
	float: left;
	background: #f07;
	border-radius: 5px 5px 0 0;
	line-height: 40px;
}
.indexLeftLink a{
	color: #fff;
}
.indexLeftLink .iconfont{
	margin-left: 16px;
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
}
.indexRightLink{
	width:281px ;
	float: left;
	box-sizing: border-box;
	padding:10px 0;
}
.indexRightLink a{
	display: block;
	width: 140px;
	float: left;
	text-align: center;
}
.indexRightLink a:first-child{
	border-right: 1px solid #ddd;
}

.wrap{
	border-bottom: none;
}

/*banner*/
.banner{
	background: #ffb0bd;
	height: 440px;
	border-top:2px solid #f07;
}
.banner .layout{
	height: 440px;
}
.indexNavMenu{
	float:left;
	height:440px;
	width: 256px;
	font-size:12px;
	position: relative;
	/*overflow: visible;*/
	
}
.nav_list{
	width: 256px;
	background:rgba(255,255,255,0.7) ;
	height:440px;
	overflow: hidden;
}
.nav_list>li{
	/*margin: 0px 0;*/
	line-height: 29px;
	height:29px ;
	width: 256px;
}
.nav_list>li.active{
	background: #fff;
}

.nav_list .iconfont{
	font-size: 14px;
	margin-left: 4px;
	color: #f07;
}
.nav_list>li>a{
	margin-right: 10px;
}
.nav_list>li>a>b{
	font-size: 14px;
	margin-left: 10px;
}

/*.topNavMenu是通过js克隆的侧边导航栏(indexNavMenu) 克隆到顶部导航*/
	.topNavMenu{
		position:absolute;
		top:45px;
		left:0px;
	}
	.topNavMenu .nav_list{
		background:rgba(0,0,0,.6)	
	}
	.topNavMenu>.nav_list>li.active{
		background: rgba(0,0,0,0.7);
	}
	.topNavMenu .nav_list>li>a{
		color: #fff;
	}
	.topNavMenu .nav_list>li>a:hover{
		color: #f07;
	}
/*鼠标经过出现的导航详情*/
.indexNavMenu .navMore{
	position: absolute;
	width:770px ;
	height: 440px;
	background: #fff;
	left: 256px;
	bottom: 0;
	z-index: 10;
	border: 1px solid #f6f6f6;
	border-left:0px solid #f6f6f6;
	box-sizing: border-box;
	z-index: 400;
	display: none;
}
.mesMore{
	width:510px;
	height: 440px;
	padding:0 20px;
	box-sizing: border-box;
	border-right: 1px solid #f6f6f6;
	overflow: hidden;
	float: left;
	
}
.mesMore ul{
	margin-top: 25px;
	
}
.mesMore ul p {
	width: 470px;
}
.mesMore ul p span{
	float:right;
}
.mesMore ul p b{
	font-size: 14px;
}
.mesMore ul li{
	margin-top: 10px;
	width: 420px;
}
.mesMore ul li a{
	margin-right: 15px;
	color: #999;
}
.mesMore ul li a:hover{
	text-decoration: underline;
}
.imglistbox{
	text-align: center;
	padding-top: 10px;
}
.navMore .imglist{
	width: 259px;
	height: 410px;
	padding: 6px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	align-content: space-around;
}

.navMore .imglist dt{
	width: 100px;
}
.navMore .imglist dd{
	width: 100px;
	line-height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.navMore .imglist img{
	width: 100%;
}

/*banner的slider图*/
.slider_box{
	float: left;
	width: 768px;
	height: 440px;
	position: relative;
	overflow: hidden;
}
.slider_imgs{
	height: 440px;
	position: absolute;
	
}
.slider_imgs img{
	position: absolute;
	left:768px;
	top:0
	
}
.slider_imgs a:nth-of-type(1) img{
	left: 0;
}

.LRbtns input{position: absolute;top: 130px;height: 40px;border: none;outline: none;width: 40px;}
.LRbtns input:nth-child(1){left: 0;}
.LRbtns input:nth-child(2){right: 0;}

.slider_btn {
	position:absolute;
	display: flex;
	height: 14px;
	bottom: 15px;
	right: 50%;
	margin-right: -52px;
}
.slider_btn li{
	flex: 1;
	width: 14px;
	height:14px;
	border-radius: 50%;
	background: #E1E1E1;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
	z-index: 100;
}
.slider_btn li.active{
	background: url(../images/sliderbtn.png) no-repeat center;
	background-size:20px 20px;
	border:1px solid #E1E1E1;
}


.user_info{
	width: 166px;
	height: 420px;
	display: flex;
	margin-top: 8px;
	flex-direction: column;
	justify-content: space-between;
}
.top_info{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 166px;
	height: 205px;
	background:rgba(255,255,255,.7) ;
}
.top_info .vipHead{
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background: #FF0077;
	opacity: 0.5;
	margin:15px 0 8px ;
}
.top_info .vipHead img{
	width: 34px;
	margin: 16px auto;
	
}
.top_info .vipHead .isload{
	width: 100%!important;
	margin: 0!important;
	
}
.top_info p{
	font-size: 12px;
}
.top_info #vip{
	display: block;
	width: 72px;
	height: 24px;
	line-height:24px ;
	border: 1px solid #f07;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
}

.foot_info{
	width: 166px;
	height: 205px;
	box-sizing: border-box;
	background:rgba(255,255,255,.7);
	text-align: center;
	padding-top: 20px;
}
.foot_info p{
	margin-bottom: 8px;
}
.foot_info p b{
	font-size: 16px;
}
.foot_info img{
	width: 130px;
	margin: 0 auto;
}

/*今日必抢 及  滚动效果商品图*/
.moduleShow{
	height:454px;
	margin-top: 10px;
	margin-bottom: 42px;
}
.moduleShow-top{
	height: 294px;
		
}
.moduleShow-top #contDown{
	width: 230px;
	position: relative;
	float: left;
}
#contDown img{
	width: 230px;
}
#contDown ul{
	width:150px;
	height: 40px;
	bottom: 20px;
	right: 38px;
	position: absolute;
}
#contDown li{
	text-align: center;
	float: left;
	width:40px ;
	height: 40px;
	line-break: 40px;
	border-radius: 5px;
	background: black;
	color: #fff;
	font-size: 26px;
}
#contDown span{
	float: left;
	width:10px ;
	line-height: 40px;
	color: black;
	text-align: center;
	font-size: 28px;
}


.sliderlist_box{
	width: 960px;
	height: 294px;
	background: #fff;
	float: left;
	position: relative;
	overflow: hidden;
}
.bannertop-wrap{
	overflow: hidden;
	position: absolute;
	top: 0;
	left:960px;
}
.bannertop-wrap:nth-child(1){
	left:0px;
}
.sliderlist_imgs{
	margin: 30px 40px 10px;
	right: 0px;
	width: 880px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	text-align: left;
	font-size: 18px;
}

.sliderlist_btn #left{
	border-radius:0 5px 5px 0 ;
	left: 0;
	color: white;
}
.sliderlist_btn #right{
	border-radius:5px 0px 0px 5px ;
	right:0px;
	color: white;
}

.sliderlist_btn span{      /*包括左右两个按钮*/ 
	display: block;
	width: 25px;
	height: 54px;      
	line-height: 54px;
	position: absolute;
	bottom: 120px;        /*定位了按钮的垂直位置*/
	background: rgba(0,0,0,0.4);
	color: white;
	text-align: center;
	cursor: pointer;
}


.sliderlist_box img{
	width: 190px;
	height: 190px;
}

/*slider图里面的dd内容被我当成了公用部分了start*/
.sliderlist_imgs dd{
	padding: 10px;
	width: 190px;
	box-sizing: border-box;
	
}
.sliderlist_imgs p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	margin-bottom: 6px;
	font-size: 17px;
}
.sliderlist_imgs span{
	color: #f07;
}
.sliderlist_imgs u{
	float: right;
	color: #999;
	font-size: 14px;
	text-decoration: line-through;
	line-height: 26px;
}
/*slider图里面的dd内容被我当成了公用部分了end*/

.moduleShow-bottom{
	margin-top: 10px;
	display: flex;
	height: 150px;
	justify-content: space-between;
}
.moduleShow-bottom img{
	width: 230px;
	height: 150px;
}
.moduleShow-bottom .first{
	width:470px ;
	height:150px ;
}

/*女装*/
.nzShow{
	height: 670px;
	margin-bottom: 42px;
}
/*show-title 可以作为一个公用的class多次使用*/
.show-title{
	border-left: 8px solid #ffa1b8;
	line-height: 22px;
	float: left;
	display: flex;
	margin-bottom: 14px;
	width:550px;
	justify-content: space-between;
}
.show-title-clearfix{
	overflow: hidden;
}

.show-title h3{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}
.show-title li{
	height: 22px;
}
/*Show-left作为公用的样式*/
.Show-left{
	float: left;
	margin-right: 10px;
	position: relative;
	overflow:hidden;
}
.nzShow .Show-left{
	height: 624px;
	width: 230px;
}
.nz_sliderlist_box{
	width: 950px;
	height: 408px;
	overflow: hidden;
	float: right;
	position: relative;
	margin-bottom: 6px;
}
 .nz_sliderlist_box dl{
 	background: #fff;
 	width:230px;
 	height: 400px;
 	box-sizing: border-box;
 	padding: 18px;
 }
.nzShow-top .sliderlist_imgs{
	margin: 0px;
	width: 950px;
	overflow: hidden;
}

.nzbannertop-wrap{
	width: 950px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left:950px;
}
.nzbannertop-wrap:nth-child(1){
	left:0px;
}

.nz_sliderlist_box .sliderlist_btn span{
	bottom: 198px;
}
.nz_sliderlist_box .sliderlist_btn #left{
	left: 18px;
}
.nz_sliderlist_box .sliderlist_btn #right{
	right: 15px;
}
.nz_sliderlist_box img{
	width: 198px;
	height: 297px;
}
.nz_sliderlist_box .sliderlist_imgs dd u{
	display: none;
}
.sliderlist_box dd{
	padding: 10px;
	width: 190px;
	box-sizing: border-box;
}

.nzShow-middle{
	width: 950px;
	height:113px;
	display: flex;
	margin-top: 0px;
	justify-content: space-between;
}

.nzShow-bottom{
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
}

/*女鞋展示*/
.Show {
	height: 593px;
	margin-bottom: 42px;
}

.Show .Show-left{
	height: 555px;
	width: 230px;
}
.Show .Show-center{
	float: left;
	margin: 0;
	width: 631px;
	height: 555px;
	margin-right: 8px;
}
 .show_sliderlist_box{
	width: 631px;
	height: 555px;
	position: relative;
	overflow: hidden;
}
.Show-center .sliderlist_imgs{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	margin: 0;
	padding: 10px 10px 40px;
	width: 631px;
	height: 555px;
	box-sizing: border-box;
	background: #fff;
}

.nxbanner-wrap{
	overflow: hidden;
	position: absolute;
	top: 0;
	left:631px;
}
.nxbanner-wrap:nth-child(1){
	left:0px;
}

.Show-center .sliderlist_imgs img{
	width:182px;
}
.Show-center .sliderlist_imgs dl{
	width:  182px;
	height: 233px;
}
.Show-center .sliderlist_imgs p{
	font-size: 14px;
}
.Show-center .sliderlist_imgs dd{
	padding: 7px 0;
}
.Show-center .sliderlist_imgs dd u{
	display: none;
}
.Show-center .slider_btn{
	bottom: 0;
	margin-right: -44px;
	bottom: 12px;
}
.Show-center .slider_btn>li{
	width: 10px;
	height:10px;
	border: none;
	box-sizing: border-box;
}

.Show-center .slider_btn>li.active{
	background: #666;
}
.Show-right{
	width: 310px;
	height: 555px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	padding:20px 18px 30px;
	box-sizing: border-box;
}
.Show-right p{
	height: 25px;
	line-height: 25px;
	text-align: left;
}
.Show-right>p span{
	font-size:18px ;
}
.Show-right>p a{
	display: block;
	line-height: 25px;
	float:right;
}
.Show-right>p a img{
	display: inline-block;
	margin-right: 2px;
}
.Show-right dl{
	width: 274px;
	height: 93px;
}
.Show-right dt{
	float:left;
	margin-right: 10px;
}
.Show-right dd{
	float:left;
	width: 170px;
}
.Show-right dd span{
	font-size: 18px;
	color: #f07;
}
.Show-right dd p{
	width: 170px;
	height: 44px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float:left;
}
.goodsbox{
	margin-top: 0px;
}
.scroll-wall .show-title-clearfix{
	margin-left: 10px;
}
.bottom{
	margin-top: 80px;
}

